main {
  padding: 24px;
  text-align: center;
}

h2 {
  margin: 0;
}


.content {
  width: 90%;
  margin: 0 auto;
}

.content__title {
  margin-top: 16px;
}

.form {
  margin-top: 24px;

}

.form__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  gap: 16px;
}

.form__inner>div {
  height: 100%;
}

.form__search-keyword {
  flex: 3
}

.form__search-keyword input {
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  background: #eee;
}

.form__search-gender {
  flex: 1;
}

.form__search-gender select {
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  background: #eee;
}

.form__search-category {
  flex: 2;
}

.form__search-category select {
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  background: #eee;
}

.form__search-calender {
  flex: 1.5
}

.form__search-calender input {
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  background: #eee;
}

.form__search-submit {
  flex: 1;
}

.form__search-submit--button {
  all: unset;
  height: 100%;
  width: 100%;
  background-color: var(--color-main);
  color: white;
  cursor: pointer;
}

.form__search-reset {
  flex: 1;
}

.form__search-reset--button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-sub);
  color: white;
  cursor: pointer;

}

.function {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.function__export {
  height: 100%;
  width: 20%;
  max-width: 200px;
}

.function__export-form{
  height: 100%;
}

.function__export--button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ddd;
  cursor: pointer;

}


.contact-lists {
  margin-top: 12px;
}

tr {
  height: 56px;
}

.table--main {
  width: 100%;
  border: 1px solid #eee;
}

.table__header--main {
  background-color: var(--color-main);
  color: white;
}

.table__item--main {
  border-bottom: 1px solid #eee;
}



/* ページネーションのスタイル */
nav[role="navigation"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ul.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
}

ul.pagination li {
  border: 1px solid #eee;

  padding: 4px 10px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

ul.pagination li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

ul.pagination li.active {
  background-color: var(--color-main);
  color: white;
  font-weight: bold;
}

ul.pagination li.disabled span {
  color: #ccc;
}

/* モーダル */
/* 参考サイトhttps: //qiita.com/mu_tomoya/items/f62690cc50df395bce32 */
*:popover-open {
  position: relative;
  padding: 1rem;
  border: 1px solid #ccc;
  min-width: 300px;
}

*::backdrop {
  background-color: rgba(0, 0, 0, 0.1);
}

/* button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: auto;
  overflow: visible;
  background: transparent;
} */

.open-button {
  padding: 8px 16px;
  border: 1px solid #eee;
  background-color: white;
  color: var(--color-main);
  cursor: pointer;
}

.close-button {
  position: absolute;
  right: 16px;
  top: 16px;
  border: 1px solid #eee;
  border-radius: 50%;
  background-color: white;
  color: var(--color-main);
  cursor: pointer;
}

.modal {
  padding: 64px 32px;
  color: var(--color-main);
  text-align: left;
  max-width: 60%;
}
.table__header--modal{
  padding: 8px 32px;
}

.delete-button {
  margin-top: 32px;
  text-align: center;
}
.delete-button button{
  all: unset;
  background-color: red;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}

/* 削除後メッセージ表示 */

.message{
  background-color: aquamarine;
  color: red;
  height:64px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .notfound {
      background-color: red;
      color: white;
      height: 64px;
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
}